.light {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding: 4px 12px;
  background-color: var(--background-light-primary);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.dark {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding: 4px 12px;
  background-color: var(--background-dark-primary);
  margin-bottom: 20px;
  box-sizing: border-box;
}