.counterControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counterButtonLight {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-size: 16px;
  min-width: 30px;
}

.counterButtonLight:hover {
  background-color: #eee;
}

.counterCountLight {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
  color: #555;
  padding: 0 20px;
}

.counterButtonDark {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--button-light);
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-size: 16px;
  min-width: 30px;
}

.counterButtonDark:hover {
  background-color: var(--button-light-secondary);
}

.counterCountDark {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--text-color-dark-secondary);
  padding: 0 20px;
}