.section {
  margin-bottom: 30px;
}

.subtitle {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.subtitle.light {
  color: #555;
  background-color: #f8f8f8;
}

.subtitle.dark {
  color: var(--text-color-dark-secondary);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 12px;
}