.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.light {
  margin-bottom: 1rem;
  color: var(--text-color-light);
}

.dark {
  margin-bottom: 1rem;
  color: var(--text-color-dark-secondary);
}

.link:hover {
  color: #007bff;
}