.actions {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
  align-items: center;
}

.authButtons {
  display: flex;
  gap: 16px;

}

.button {
  padding: 4px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  min-width: 60px;
  transition: background-color 0.2s ease;
}